
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 70px;
    font-family: 'Roboto';
}

.albumart {
    width: 32px;
    height: 32px;
}

.playlist-songs > tr.activesong td {
    background-color: #C7F464;
}

.playlist-songs > tr:hover td {
    background-color: #4ECDC4;
    cursor: pointer;
}

.playlists {
    padding-left: 0;
}

.playlists > li {
    width: 100%;
    height: 35px;
    line-height: 35px;

    list-style-type: none;

    padding-left: 0;
    text-align: center;
}

.playlists > li:hover {
    background-color: #4ECDC4;
}

.content-container {
    position: absolute;
    bottom: 70px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.nav-container {
    float: left;
    width: 300px;
    margin: 0;
    position: relative;

    height: 100%;
}
.musicquery-container {
    margin: 0;
    margin-left: 300px;
    position: relative;

    height: 100%;
}
.musicquery-container > h3 {
    margin-top: 0;
}
.musicquery-list {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    overflow-y: scroll;
}
.musicquery-list > table {
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 6px;

    padding: 5px;

    width: 100%;
    height: 70px;

    background-color: #f5f5f5;

    box-sizing: border-box;
}
