
input[type='range'] {
    -webkit-appearance: none !important;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

audio-player {
    -webkit-user-select: none;
    -webkit-user-drag: none;

    display: flex;
    flex-direction: column;
}

audio-player > div {
    text-align: center;

    align-items: center;
    justify-content: center;

    flex: 1;
}

audio-player > .player-controls {
    display: flex;

    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    bottom: 0;
}

audio-player > .player-controls > div {
    padding: 5px;
}

audio-player button {
    width: 48px;
    height: 36px;
    display: inline-block;

    background-color: rgb(245, 180, 180);
    border: none;
}

audio-player button:hover {
    color: blue;
}

audio-player button .grayed {
    color: gray;
}

.searchform {
    display: flex;
}
.searchform > input {
    flex: 1 1;
}

.searchform > input[type='text'] {
    flex: 2 1;
}

.seekbar {
    width: 100%;
    height: 18px;
    border: 1px solid black;
    position: relative;

    cursor: pointer;
}

.seekbar > span {
    display: block;
}

.seekbar span:first-child {
    background-color: rgb(79, 208, 191);
    height: 15px;
    width: 0px;
}

.seekbar span:not(:first-child) {
    position:absolute;
    bottom: 0px;
    height: 3px;
    background-color: rgba(50, 84, 24, 0.73);
}

.seekbar .current-time {
    position: absolute;
    left: 2px;
    top: 1px;

    font-family: 'Consolas';
    font-size: 12px;
    color: rgba(50, 84, 24, 0.73);

    white-space: nowrap;
}
