<div class="row">
    <div class="col-md-12">
        <input min="0" max="{{audio.duration}}" step="0.01" type="range" ng-model="currentTime" ng-change="updateCurrentTime()" ng-disabled="{{scope.audio.src == null}}"/>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-3">
        <span class="glyphicon glyphicon-volume-up"></span>
        <input min="0" max="1" step="0.01" type="range" ng-model="volume" ng-change="updateVolume()"/>
    </div>
    <div class="col-md-6">
        <span><img width="30" height="30" src="{{info.albumart}}" /> {{info.artist}} - {{info.title}}</span>
    </div>
    <div class="col-md-3">
        <button ng-disabled="currentNum == 0" class="btn btn-default prev" ng-click="prev()"><i class="glyphicon glyphicon-step-backward"></i> prev</button>
        <button class="btn btn-default playpause" ng-click="playpause()">
            <span class="play-text"><i class="glyphicon glyphicon-play"></i> play</span>
        </button>
        <button ng-disabled="currentNum >= (totalNum-1)" class="btn btn-default next" ng-click="next()">next <i class="glyphicon glyphicon-step-forward"></i></button>
    </div>
</div>
