<div>
    <div class="seekbar" ng-mousedown="seekBarMouseDown($event)" ng-mouseleave="seekBarResetDrag()" ng-mouseup="seekBarResetDrag()" ng-mousemove="seekBarDragged($event)">
        <span ng-style="{'width': ((currentDraggedTime || currentTime) / audio.duration)*100 + '%'}">
            <span class="current-time">{{(currentDraggedTime || currentTime) | minutesSeconds}} / {{audio.duration | minutesSeconds}}</span>
        </span>

        <span ng-repeat="i in range(audio.buffered.length)"
            ng-style="{'left': (audio.buffered.start(i) / audio.duration)*100 + '%', 'right': (1-(audio.buffered.end(i) / audio.duration))*100 + '%'}"></span>
    </div>
    <!--
    <input style="width: 100%" min="0" max="{{audio.duration}}" step="0.01" type="range" ng-model="currentTime" ng-change="updateCurrentTime()"/>
    -->
</div>
<div class="player-controls">
    <div style="flex: 2 1 auto; text-align: left;">
        <a href="#/albums/{{info.albumid}}">
            <img class="albumart" src="{{info.albumart}}" style="vertical-align: middle" />
        </a>
        <a href="#/artists/{{info.artistid}}">
            {{info.artist}}
        </a>
        <span> - </span>
        <span ng-switch on="context.path || 'null'">
            <span ng-switch-when="null">{{info.title}}</span>
            <a ng-switch-default href="{{context.path}}">{{info.title}}</a>
        </span>
    </div>

    <div style="flex: 1 1 auto">
        <button ng-click="prev()"><i class="typcn typcn-media-rewind"></i></button>
        <button ng-click="playpause()">
            <i class="typcn" ng-class="{'typcn-media-play': audio.paused, 'typcn-media-pause': !audio.paused}"></i>
        </button>
        <button ng-click="next()"><i class="typcn typcn-media-fast-forward"></i></button>
        <button ng-click="cycleLoopState()">
            <i class="typcn" ng-class="{grayed: loopState == 0, 'typcn-arrow-repeat': loopState != 2, 'typcn-arrow-loop': loopState == 2}"></i>
        </button>
    </div>

    <div style="flex: 1 1 auto">
        <input min="0" max="1" step="0.01" type="range" ng-model="volume" ng-change="updateVolume()" style="width: 100%"/>
    </div>
</div>
