<h3>Artist: {{artist != undefined ? artist.name : artistId}}</h3>

<h4>Top tracks:</h4>
<table ng-include="'views/musicQuerySongTable.html'"></table>

<h4>Albums:</h4>
<table>
    <thead>
        <tr>
            <th>Art</th>
            <th>Year</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody class="query-results">
        <tr ng-repeat="album in albums" ui-draggable="true" drag="album.id" drag-channel="albums">
            <td style="width: 32px; height: 32px;"><img src="{{ album.art }}" class="albumart"></td>
            <td>{{ album.year }}</td>
            <td ng-click="go('/albums/' + album.id)">{{ album.name }}</td>
        </tr>
    </tbody>
</table>
