<h3>Search: {{query}}</h3>

<table>
    <thead>
        <tr>
            <th>Art</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
    </thead>
    <tbody class="query-results">
        <tr ng-repeat="song in songs" ng-class="{activesong: currentSong && currentSong.id == song.id}" nw-menu="openSongMenu(song, $menu)" ui-draggable="true" drag="song.id" drag-channel="songs">
            <td><img src="{{ song.albumart }}" class="albumart"></td>
            <td ng-click="setCurrentSong(song)">{{ song.title }}</td>
            <td ng-click="go('/artists/' + song.artistid)">{{ song.artist }}</td>
            <td ng-click="go('/albums/' + song.albumid)">{{ song.album }}</td>
        </tr>
    </tbody>
</table>
