<div class="content-container">
    <div class="nav-container">
        <form ng-controller="SearchCtrl" ng-submit="search()" class="searchform">
            <input type="text" class="form-control" ng-model="query" required>
            <input type="submit" value="Search">
        </form>

        <ul class="playlists" ng-controller="PlaylistsCtrl">
            <li ng-repeat="playlist in playlists">
                <a href="#/playlists/{{playlist.id}}">{{ playlist.name }}</a>
            </li>
        </ul>
    </div>
    <div class="musicquery-container" ng-controller="MusicQueryCtrl">
        <h3>
            Results for
            <span ng-repeat="query in queries">{{ query }} </span>
        </h3>

        <div class="musicquery-list" scroll-to-top-when="music_query_updated">
            <asd></asd>
            <table>
                <thead>
                    <tr>
                        <th>Art</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                    </tr>
                </thead>
                <tbody class="playlist-songs">
                    <tr ng-repeat="song in results" ng-click="setCurrentSong(song)" ng-class="{activesong: currentSong && currentSong.id == song.id}">
                        <td><img src="{{ song.albumart }}" class="albumart"></td>
                        <td>{{ song.title }}</td>
                        <td><a href="#/artists/{{ song.artistid }}">{{ song.artist }}</a></td>
                        <td><a href="#/albums/{{ song.albumid }}">{{ song.album }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="footer">
    <audio-player></audio-player>
</div>
