<div class="content-container">
    <div class="nav-container">
        <form ng-controller="SearchCtrl" ng-submit="search()" class="searchform">
            <input type="text" class="form-control" ng-model="query" required>
            <input type="submit" value="Search">
        </form>

        <ul class="playlists" ng-controller="PlaylistsCtrl">
            <li ng-repeat="playlist in playlists" drop-channel="songs" ui-on-drop="songDropped($data, playlist)">
                <a href="#/playlists/{{playlist.id}}">{{ playlist.name }}</a>
            </li>
        </ul>
    </div>
    <div class="musicquery-container" ng-controller="MusicQueryCtrl">
        <h3>
            Results for
            <span ng-repeat="query in queries">{{ query }} </span>
        </h3>

        <div class="musicquery-list" scroll-to-top-when="music_query_updated">
            <table>
                <thead>
                    <tr>
                        <th>Art</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                    </tr>
                </thead>
                <tbody class="query-results">
                    <tr ng-repeat="song in results" ng-class="{activesong: currentSong && currentSong.id == song.id}" nw-menu="openSongMenu(song, $menu)" ui-draggable="true" drag="song.id" drag-channel="songs">
                        <td><img src="{{ song.albumart }}" class="albumart"></td>
                        <td ng-click="setCurrentSong(song)">{{ song.title }}</td>
                        <td ng-click="go('/artists/' + song.artistid)">{{ song.artist }}</td>
                        <td ng-click="go('/albums/' + song.albumid)">{{ song.album }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="musicquery-overlay" ng-show="loading">
            <div>
                <i class="fa fa-circle-o-notch fa-spin"></i>
                Loading
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <audio-player></audio-player>
</div>
